@media (max-width:1000px) {
  /* lessonクラスのCSSを指定してください */
  .lesson{
    width:50%;

    margin-bottom:50px; 
  }
  .top-wrapper h1{
    font-size:32px;
  }
  /* 「.heading h2」のfont-sizeを20pxに指定 */
  .heading h2{
    font-size:20px;
  }

}
@media (max-width:670px) {
  /* .lessonのwidthを100%に指定してください */
  .lesson{
    width:100%;
  }

  /* <footer>の中身を中央寄せにしてください。 */
  footer{
    text-align:center;
  }
  .btn{
    width:100%;
  }
  .facebook{
    margin-bottom:10px;
  }
  .top-wrapper{
    text-align:left;
    padding-top:130px;
  }
  .header-right{
    display:none;
  }
  .menu-icon{
    display:block;
  }
  .top-wrapper h1{
    font-size:24px;
  }
  .top-wrapper p{
    font-size:14px;
}

