*{
box-sizing:border-box;
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

/* containerクラスのCSSを指定してください */

.container{
  max-width:1170px;
  width : 100%;
  padding-right:15px;
  padding-left: 15px;
  margin-left:auto;
  margin-right:auto;
}
.top-wrapper{
  padding-top:180px;
  padding-bottom:100px;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  color : white;
  background-size: cover;
  text-align:center;

}
.top-wrapper h1{
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
}

.top-wrapper p{
  opacity:0.7;
}
.btn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
}
.btn:hover{
  opacity:1;
}
.signup{
  background-color:#239b76;
}
.facebook{
  background-color:#3b5998;
  margin-right:10px;
}
.twitter{
  background-color:#55acee;
}
.btn-wrapper{
  margin:20px 0px;
}
.btn-wrapper p{
  margin:10px 0px;
}
.fa{
margin-right:5px
}
header{
height:65px;
width:100%;
background-color:rgba(34,49,52,0.9);
position:fixed;
top:0;
z-index:10;
}
.header-left{
float:left;
}
.header-right{
float:right;
background-color:rgba(255,255,255,0.3);
transition: all 0.5s;
}
.header-right:hover{
background-color:rgba(255,255,255,0.5);
}
.header-right a{
display:block;
line-height:65px;
padding:0px 25px;
color:white;
}
.logo{
width:124px;
margin-top:20px;
}
.lesson-wrapper{
padding-bottom:80px;
background-color:#f7f7f7;
text-align:center;
}
.heading{
padding-top:60px;
padding-bottom:30px; 
color:#5f5d60;
}
.heading h2{
font-weight:normal;
}
.lesson{
float:left;
width:25%;
}
.lesson-icon{
position: relative;
}
.lesson-icon p{
position:absolute;
top:90px;
width:100%;
color:white;
}
.txt-contents{
width:80%;
display:inline-block;
margin-top:20px;
font-size:12px;
color:#b3aeb5
}
.message{
background-color:#5dca88;
padding:15px 40px; 
cursor:pointer;
box-shadow: 0 7px #1a7940;
}
.heading h3{
font-weight:normal;
}
.message-wrapper{
border-bottom:1px solid #eee;
padding-bottom:80px;
text-align:center;
}
.message:active{
box-shadow:none;
position:relative;
top:7px;
}
footer{
padding-top:30px;
}
footer img{
width:125px;
}
footer p{
color:#b3aeb5;
font-size:12px;
}
.clear{
clear:left;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
display:none;
}
