<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--                                             -->
<!-- Author: ROOT team (rootdev@cern.ch)         -->
<!--                                             -->
<!--   Date: Fri Dec  6 01:55:25 2019            -->
<!--                                             -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>/ \file
</title>
<meta name="rating" content="General" />
<meta name="objecttype" content="Manual" />
<meta name="keywords" content="software development, oo, object oriented, unix, x11, windows, c++, html, rene brun, fons rademakers, cern" />
<meta name="description" content="ROOT - An Object Oriented Framework For Large Scale Data Analysis." />
<link rel="stylesheet" type="text/css" href="../../ROOT.css" id="ROOTstyle" />
<script type="text/javascript" src="../../ROOT.js"></script>
</head>
<body  onload="javascript:SetValuesFromCookie();"><div id="body_content">
<div id="root_header"></div>
<div id="toplinks"><div class="descrhead"><table class="descrtitle" id="contexttitle"><tr class="descrtitle"><td id="contextheadarrow_prev"><div id="divcontextheadar_prev"><a class="contextheadarrow" href="pavetext.C.html">&lt;</a></div></td><td class="contextheadentry" id="contextheadentry_prev"><a class="contextheadentry" href="pavetext.C.html">pavetext.C: / \file
</a></td><td id="contextheadarrow_up"><div id="divcontextheadar_up"><a class="contextheadarrow" href="index.html">^</a></div></td><td class="contextheadentry" id="contextheadentry_up"><a class="contextheadentry" href="index.html">Basic Graphics</a></td><td class="contextheadentry" id="contextheadentry_next"><a class="contextheadentry" href="polytest1.C.html">polytest1.C: / \file
</a></td><td id="contextheadarrow_next"><div id="divcontextheadar_next"><a class="contextheadarrow" href="polytest1.C.html">&gt;</a></div></td></tr></table></div><h1 class="convert">piechart.C: / \file
</h1></div>
<div class="location"><h2>From <a href="http://root.cern.ch/viewvc/trunk/tutorials/graphics/piechart.C?view=markup">$ROOTSYS/tutorials/graphics/piechart.C</a></h2></div>
<table><tr><td style="vertical-align:top;padding-right:2em;">
<div class="listing"><pre class="listing">
<span class="comment">/// \file</span>
<span class="comment">/// \ingroup tutorial_graphics</span>
<span class="comment">/// \notebook</span>
<span class="comment">/// Pie chart example.</span>
<span class="comment">///</span>
<span class="comment">/// \macro_image</span>
<span class="comment">/// \macro_code</span>
<span class="comment">///</span>
<span class="comment">/// \authors Olivier Couet, Guido Volpi</span>

<span class="keyword">void</span> piechart()
{
   <a href="../../ListOfTypes.html#Float_t">Float_t</a> vals[] = {.2,1.1,.6,.9,2.3};
   <a href="../../ListOfTypes.html#Int_t">Int_t</a> colors[] = {2,3,4,5,6};
   <a href="../../ListOfTypes.html#Int_t">Int_t</a> nvals = <span class="keyword">sizeof</span>(vals)/<span class="keyword">sizeof</span>(vals[0]);

   TCanvas *cpie = <span class="keyword">new</span> TCanvas(<span class="string">"cpie"</span>,<span class="string">"TPie test"</span>,700,700);
   cpie-&gt;Divide(2,2);

   TPie *pie1 = <span class="keyword">new</span> TPie(<span class="string">"pie1"</span>,
      <span class="string">"Pie with offset and no colors"</span>,nvals,vals);
   TPie *pie2 = <span class="keyword">new</span> TPie(<span class="string">"pie2"</span>,
      <span class="string">"Pie with radial labels"</span>,nvals,vals,colors);
   TPie *pie3 = <span class="keyword">new</span> TPie(<span class="string">"pie3"</span>,
      <span class="string">"Pie with tangential labels"</span>,nvals,vals,colors);
   TPie *pie4 = <span class="keyword">new</span> TPie(<span class="string">"pie4"</span>,
      <span class="string">"Pie with verbose labels"</span>,nvals,vals,colors);

   cpie-&gt;cd(1);
   pie1-&gt;SetAngularOffset(30.);
   pie1-&gt;SetEntryRadiusOffset( 4, 0.1);
   pie1-&gt;SetRadius(.35);
   pie1-&gt;Draw(<span class="string">"3d"</span>);

   cpie-&gt;cd(2);
   pie2-&gt;SetEntryRadiusOffset(2,.05);
   pie2-&gt;SetEntryLineColor(2,2);
   pie2-&gt;SetEntryLineWidth(2,5);
   pie2-&gt;SetEntryLineStyle(2,2);
   pie2-&gt;SetEntryFillStyle(1,3030);
   pie2-&gt;SetCircle(.5,.45,.3);
   pie2-&gt;Draw(<span class="string">"rsc"</span>);

   cpie-&gt;cd(3);
   pie3-&gt;SetY(.32);
   pie3-&gt;GetSlice(0)-&gt;SetValue(.8);
   pie3-&gt;GetSlice(1)-&gt;SetFillStyle(3031);
   pie3-&gt;SetLabelsOffset(-.1);
   pie3-&gt;Draw(<span class="string">"3d t nol"</span>);
   TLegend *pieleg = pie3-&gt;MakeLegend();
   pieleg-&gt;SetY1(.56); pieleg-&gt;SetY2(.86);

   cpie-&gt;cd(4);
   pie4-&gt;SetRadius(.2);
   pie4-&gt;SetLabelsOffset(.01);
   pie4-&gt;SetLabelFormat(<span class="string">"#splitline{%val (%perc)}{%txt}"</span>);
   pie4-&gt;Draw(<span class="string">"nol &lt;"</span>);
}
</pre></div>
<div id="linenums"><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="1" href="#1" class="ln">1</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="2" href="#2" class="ln">2</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="3" href="#3" class="ln">3</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="4" href="#4" class="ln">4</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="5" href="#5" class="ln">5</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="6" href="#6" class="ln">6</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="7" href="#7" class="ln">7</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="8" href="#8" class="ln">8</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="9" href="#9" class="ln">9</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="10" href="#10" class="ln">10</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="11" href="#11" class="ln">11</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="12" href="#12" class="ln">12</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="13" href="#13" class="ln">13</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="14" href="#14" class="ln">14</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="15" href="#15" class="ln">15</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="16" href="#16" class="ln">16</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="17" href="#17" class="ln">17</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="18" href="#18" class="ln">18</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="19" href="#19" class="ln">19</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="20" href="#20" class="ln">20</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="21" href="#21" class="ln">21</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="22" href="#22" class="ln">22</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="23" href="#23" class="ln">23</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="24" href="#24" class="ln">24</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="25" href="#25" class="ln">25</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="26" href="#26" class="ln">26</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="27" href="#27" class="ln">27</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="28" href="#28" class="ln">28</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="29" href="#29" class="ln">29</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="30" href="#30" class="ln">30</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="31" href="#31" class="ln">31</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="32" href="#32" class="ln">32</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="33" href="#33" class="ln">33</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="34" href="#34" class="ln">34</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="35" href="#35" class="ln">35</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="36" href="#36" class="ln">36</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="37" href="#37" class="ln">37</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="38" href="#38" class="ln">38</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="39" href="#39" class="ln">39</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="40" href="#40" class="ln">40</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="41" href="#41" class="ln">41</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="42" href="#42" class="ln">42</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="43" href="#43" class="ln">43</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="44" href="#44" class="ln">44</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="45" href="#45" class="ln">45</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="46" href="#46" class="ln">46</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="47" href="#47" class="ln">47</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="48" href="#48" class="ln">48</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="49" href="#49" class="ln">49</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="50" href="#50" class="ln">50</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="51" href="#51" class="ln">51</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="52" href="#52" class="ln">52</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="53" href="#53" class="ln">53</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="54" href="#54" class="ln">54</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="55" href="#55" class="ln">55</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="56" href="#56" class="ln">56</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="57" href="#57" class="ln">57</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="58" href="#58" class="ln">58</a></div><div class="ln">&nbsp;<span class="lnfile">piechart.C:</span><a name="59" href="#59" class="ln">59</a></div></div>
</td><td style="vertical-align:top;">
<table>
<tr><td><a href="piechart.C_0.png">
<img src="piechart.C_0.png" id="canv0" alt="thumb" style="border:none;width:22em;" onmouseover="javascript:canv0.style.width='auto';" />
</a></td></tr>
</table>
</td></tr></table>

<br />
<!--SIGNATURE-->
<div id="footer">

<em>&raquo; Last changed: 2019-12-06 01:55 </em><em>&raquo; Last generated: 2019-12-06 01:55</em><br />
<em>This page has been automatically generated. For comments or suggestions regarding the documentation or ROOT in general please send a mail to <a href="mailto:rootdev@cern.ch">ROOT support</a>.</em>
</div>
</div>
</body>
</html>
