<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--                                             -->
<!-- Author: ROOT team (rootdev@cern.ch)         -->
<!--                                             -->
<!--   Date: Fri Dec  6 01:55:36 2019            -->
<!--                                             -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>/ \file
</title>
<meta name="rating" content="General" />
<meta name="objecttype" content="Manual" />
<meta name="keywords" content="software development, oo, object oriented, unix, x11, windows, c++, html, rene brun, fons rademakers, cern" />
<meta name="description" content="ROOT - An Object Oriented Framework For Large Scale Data Analysis." />
<link rel="stylesheet" type="text/css" href="../../ROOT.css" id="ROOTstyle" />
<script type="text/javascript" src="../../ROOT.js"></script>
</head>
<body  onload="javascript:SetValuesFromCookie();"><div id="body_content">
<div id="root_header"></div>
<div id="toplinks"><div class="descrhead"><table class="descrtitle" id="contexttitle"><tr class="descrtitle"><td id="contextheadarrow_prev"><div id="divcontextheadar_prev"><a class="contextheadarrow" href="quarks.C.html">&lt;</a></div></td><td class="contextheadentry" id="contextheadentry_prev"><a class="contextheadentry" href="quarks.C.html">quarks.C: / \file
</a></td><td id="contextheadarrow_up"><div id="divcontextheadar_up"><a class="contextheadarrow" href="index.html">^</a></div></td><td class="contextheadentry" id="contextheadentry_up"><a class="contextheadentry" href="index.html">Basic Graphics</a></td><td class="contextheadentry" id="contextheadentry_next"><a class="contextheadentry" href="tmathtext2.C.html">tmathtext2.C: / \file
</a></td><td id="contextheadarrow_next"><div id="divcontextheadar_next"><a class="contextheadarrow" href="tmathtext2.C.html">&gt;</a></div></td></tr></table></div><h1 class="convert">tmathtext.C: / \file
</h1></div>
<div class="location"><h2>From <a href="http://root.cern.ch/viewvc/trunk/tutorials/graphics/tmathtext.C?view=markup">$ROOTSYS/tutorials/graphics/tmathtext.C</a></h2></div>
<table><tr><td style="vertical-align:top;padding-right:2em;">
<div class="listing"><pre class="listing">
<span class="comment">/// \file</span>
<span class="comment">/// \ingroup tutorial_graphics</span>
<span class="comment">/// This macro draws various formula in a canvas.</span>
<span class="comment">/// It also prints the canvas as a Postscript file using TMathText.</span>
<span class="comment">///</span>
<span class="comment">/// \macro_image</span>
<span class="comment">/// \macro_code</span>
<span class="comment">///</span>
<span class="comment">/// \author Yue Shi Lai</span>

{
   TCanvas *c1 = <span class="keyword">new</span> TCanvas(<span class="string">"c1"</span>);

   TMathText l;
   l.SetTextAlign(23);
   l.SetTextSize(0.06);
   l.DrawMathText(0.50, 1.000, <span class="string">"\\prod_{j\\ge0} \\left(\\sum_{k\\ge0} a_{jk}z^k\\right) = \\sum_{n\\ge0} z^n \\left(\\sum_{k_0,k_1,\\ldots\\ge0\\atop k_0+k_1+\\cdots=n} a_{0k_0}a_{1k_1} \\cdots \\right)"</span>);
   l.DrawMathText(0.50, 0.800, <span class="string">"W_{\\delta_1\\rho_1\\sigma_2}^{3\\beta} = U_{\\delta_1\\rho_1\\sigma_2}^{3\\beta} + {1\\over 8\\pi^2} \\int_{\\alpha_1}^{\\alpha_2} d\\alpha_2^\\prime \\left[ {U_{\\delta_1\\rho_1}^{2\\beta} - \\alpha_2^\\prime U_{\\rho_1\\sigma_2}^{1\\beta} \\over U_{\\rho_1\\sigma_2}^{0\\beta}} \\right]"</span>);
   l.DrawMathText(0.50, 0.600, <span class="string">"d\\Gamma = {1\\over 2m_A} \\left( \\prod_f {d^3p_f\\over (2\\pi)^3} {1\\over 2E_f} \\right) \\left| \\mathscr{M} \\left(m_A - \\left\\{p_f\\right\\} \\right) \\right|^2 (2\\pi)^4 \\delta^{(4)} \\left(p_A - \\sum p_f \\right)"</span>);
   l.DrawMathText(0.50, 0.425, <span class="string">"4\\mathrm{Re}\\left\\{{2\\over 1-\\Delta\\alpha} \\chi(s) \\left[ \\^{g}_\\nu^e \\^{g}_\\nu^f (1 + \\cos^2\\theta) + \\^{g}_a^e \\^{g}_a^f \\cos\\theta \\right] \\right\\}"</span>);
   l.DrawMathText(0.50, 0.330, <span class="string">"p(n) = {1\\over\\pi\\sqrt{2}} \\sum_{k = 1}^\\infty \\sqrt{k} A_k(n) {d\\over dn} {\\sinh \\left\\{ {\\pi\\over k} \\sqrt{2\\over 3} \\sqrt{n - {1\\over 24}} \\right\\} \\over \\sqrt{n - {1\\over 24}}}"</span>);
   l.DrawMathText(0.13, 0.150, <span class="string">"{(\\ell+1)C_{\\ell}^{TE} \\over 2\\pi}"</span>);
   l.DrawMathText(0.27, 0.110, <span class="string">"\\mathbb{N} \\subset \\mathbb{R}"</span>);
   l.DrawMathText(0.63, 0.100, <span class="string">"\\hbox{RHIC スピン物理 Нью-Йорк}"</span>);

   c1-&gt;Print(<span class="string">"c1.gif"</span>);
   c1-&gt;Print(<span class="string">"c1.jpg"</span>);
   c1-&gt;Print(<span class="string">"c1.png"</span>);
   c1-&gt;Print(<span class="string">"c1.ps"</span>);
   c1-&gt;Print(<span class="string">"c1.eps"</span>);

   <span class="keyword">return</span> c1;
}
</pre></div>
<div id="linenums"><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="1" href="#1" class="ln">1</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="2" href="#2" class="ln">2</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="3" href="#3" class="ln">3</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="4" href="#4" class="ln">4</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="5" href="#5" class="ln">5</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="6" href="#6" class="ln">6</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="7" href="#7" class="ln">7</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="8" href="#8" class="ln">8</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="9" href="#9" class="ln">9</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="10" href="#10" class="ln">10</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="11" href="#11" class="ln">11</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="12" href="#12" class="ln">12</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="13" href="#13" class="ln">13</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="14" href="#14" class="ln">14</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="15" href="#15" class="ln">15</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="16" href="#16" class="ln">16</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="17" href="#17" class="ln">17</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="18" href="#18" class="ln">18</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="19" href="#19" class="ln">19</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="20" href="#20" class="ln">20</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="21" href="#21" class="ln">21</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="22" href="#22" class="ln">22</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="23" href="#23" class="ln">23</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="24" href="#24" class="ln">24</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="25" href="#25" class="ln">25</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="26" href="#26" class="ln">26</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="27" href="#27" class="ln">27</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="28" href="#28" class="ln">28</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="29" href="#29" class="ln">29</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="30" href="#30" class="ln">30</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="31" href="#31" class="ln">31</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="32" href="#32" class="ln">32</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="33" href="#33" class="ln">33</a></div><div class="ln">&nbsp;<span class="lnfile">tmathtext.C:</span><a name="34" href="#34" class="ln">34</a></div></div>
</td><td style="vertical-align:top;">
<table>
<tr><td><a href="tmathtext.C_0.png">
<img src="tmathtext.C_0.png" id="canv0" alt="thumb" style="border:none;width:22em;" onmouseover="javascript:canv0.style.width='auto';" />
</a></td></tr>
</table>
</td></tr></table>

<br />
<!--SIGNATURE-->
<div id="footer">

<em>&raquo; Last changed: 2019-12-06 01:55 </em><em>&raquo; Last generated: 2019-12-06 01:55</em><br />
<em>This page has been automatically generated. For comments or suggestions regarding the documentation or ROOT in general please send a mail to <a href="mailto:rootdev@cern.ch">ROOT support</a>.</em>
</div>
</div>
</body>
</html>
