html{
  scroll-behavior: smooth;
}

*{
  box-sizing:border-box;
}

section.container{
  height:500px;

}

header{
  height:65px;
  width:100%;
  background-color:rgba(34,49,52,0.9);
  position:fixed;
  top:0;
  z-index:10;
}

body {
  margin: 0;
  font-family: "Lato" sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6e7dab;
  background-color:#000033;
}

section.container{
  height:200px;
  background-color:rgba(255,255,255,0.3);
  color:black;
}
section.container.large{
  height:900px;
}

.header-left{
  float:left;
  height:65px;
}

.header-right{
  float:right;
  height:65px;
  background-color:rgba(255,255,255,0.3);
  transition: all 0.5s;
}
.header-right:hover{
  background-color:rgba(255,255,255,0.5);
}
.header-right a{
  display:block;
  line-height:65px;
  padding:0px 25px;
  color:white;
}
.logo{
  width:105px;
  margin:5px;
}
.fa{
  margin-right:5px
}
.menu-list{
  display:none;
  width:100%;
  height:120px;
  position:fixed;
  top:65px;
  background-color:rgba(255,255,255,0.5);
}

/* .menu-list.active{ */
/* display:block;     */
/* }                  */
.container{
  max-width:1170px;
  width : 100%;
  padding-right:15px;
  padding-left: 15px;
  margin-left:auto;
  margin-right:auto;
}
.top-wrapper{
  padding-top:200px;
  padding-bottom:200px;
  background-image:url(./../img/HP_topBG.png);
  color : white;
  background-size: cover;
  text-align:center;

}
.top-wrapper h1{
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
}

.top-wrapper p{
  opacity:0.7;
}

.wrapper{
  width:100%;
  background-color:#fafafa;
}
.wrapper .container{
  max-width:1000px;
  margin:0px auto;
  padding:50px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper .container .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* PC時のみ順番を入れ替える */
@media (min-width: 992px) {
  /* .wrapper .content {             */
  /*     flex-direction:row-reverse; */
  /* }                               */
}
.wrapper .content-item {
  width:100%;
  margin:0px 10px;
  height:400px;
}
@media (min-width: 992px) {
  .wrapper .content-item {
    width:50%;
  }
}
.wrapper .image{
  display:block;
  max-width:100%;
  margin:0px auto;
}
.wrapper .text{
  padding:50px;
}
.wrapper .text .heading{
  margin:0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
footer{
  padding-top:30px;
}
footer img{
  width:125px;
}
footer p{
  color:#b3aeb5;
  font-size:12px;
}
.clear{
  clear:left;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}
/*   .about {                 */
/*   padding: 30px 30px;      */
/*   background-color: #fff;  */
/*   color: #333;             */
/* }                          */
/* .about-text {              */
/*   margin: 30px 0;          */
/*   line-height: 2.5;        */
/* }                          */
/* .heading{                  */
/* padding-top:60px;          */
/* padding-bottom:30px;       */
/* color:#5f5d60;             */
/* }                          */
/* .heading h2{               */
/* font-weight:normal;        */
/* }                          */
/* .txt-contents{             */
/* width:80%;                 */
/* display:inline-block;      */
/* margin-top:20px;           */
/* font-size:12px;            */
/* color:#b3aeb5              */
/* }                          */
/* .message{                  */
/* background-color:#5dca88;  */
/* padding:15px 40px;         */
/* cursor:pointer;            */
/* box-shadow: 0 7px #1a7940; */
/* }                          */
/* .heading h3{               */
/* font-weight:normal;        */
/* }                          */
/* .message-wrapper{             */
/* border-bottom:1px solid #eee; */
/* padding-bottom:80px;          */
/* text-align:center;            */
/* }                             */
/* .message:active{              */
/* box-shadow:none;              */
/* position:relative;            */
/* top:7px;                      */
/* }                             */
footer{
  padding-top:30px;
}
footer img{
  width:125px;
}
footer p{
  color:#b3aeb5;
  font-size:12px;
}
.clear{
  clear:left;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:block;
}
.button {
  background-color: #000;
  color:#000 ;
}
.button:hover {
  background-color: #59b1eb;
}
.menu-button {
  background-color: #000;
  opacity:0.5;
  border:none;
  height:65px;
}
.menu-button:hover {
  background-color: #59b1eb;
}
.btn-animation-02 {
  display: inline-block;
  width: 200px;
  text-align: center;
  /* background-color: #9ec34b; */
  background-color: #3772ff;
  /* border: 2px solid #9ec34b; */
  border: 2px solid #3772ff;
  font-size: 16px;
  /* color: #9ec34b; */
  color: #3772ff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

.btn-animation-02 span {
  position: relative;
  z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.btn-animation-02::before {
  left: 0;
}
.btn-animation-02::after {
  right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-animation-02:hover {
  color: #FFF;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
